.App {
  text-align: center;
}

.App-header {
  background-color: #181c24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button-container button {
  color: white;
  background-color: rgb(1, 8, 37);
  border-color: rgb(25, 40, 53);
  border-radius: 100px;
  border-width: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-container button:hover {
  color: rgb(204, 204, 204);
  background-color: rgb(2, 12, 54);
  border-color: rgb(38, 61, 82);
}

.button-uwu {
  color: white;
  background-color: rgb(1, 8, 37);
  border-color: rgb(25, 40, 53);
  border-radius: 100px;
  border-width: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-uwu:hover {
  color: rgb(204, 204, 204);
  background-color: rgb(2, 12, 54);
  border-color: rgb(38, 61, 82);
}

.lists-uwu {
  display:flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}